@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:200');

body {
  font-family: 'Mukta Vaani';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  // height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 5vh auto;
}

h1 {
  font-size: 10vh;
  margin-bottom: 2vh;
}


