@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:200');

body {
  font-family: 'Mukta Vaani';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  // height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 5vh auto;
}

h1 {
  font-size: 10vh;
  margin-bottom: 2vh;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.form-container {
  display: flex;
  justify-content: flex-end;
}

.add-form input {
  border: none;
  border-bottom: 1px solid rgba(60,60,60,.2);
}

.movie-title {
  font-size: 7vh;
}

.submit-button {
  border: none;
  margin-top: 2vh;
  align-item: center;
}

.big-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-container {
  border: 1px solid rgba(60,60,60,.2);
  width: 50vw;
  text-transform: lowercase;
  margin: 1vh auto;
  padding: 2rem;
}

input {
  outline: none;
}

